.App {
    min-height: calc(100vh - 160px);
}

img {
    width: 100%;
}

.landing {
    position: relative;
    background: url('./img/showcase.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 112px);
    margin-top: -24px;
    margin-bottom: -24px;
}

.landing-inner {
    padding-top: 80px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}

.nav-avatar {
    width: 21px;
    /* margin-right: 10px; */
}

.nav-link-btn {
    border: none;
}

.spinner-comp {
    position: fixed; /* to avoid absolute to any relative position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-absolute {
    position: absolute;
}

.div-relative {
    position: relative;
}

/* overwrite the bootstrap css classes - start */
.lead {
    font-size: 1.1rem;
}

.display-4 {
    font-size: 3rem;
}
/* overwrite the bootstrap css classes - end */

.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.profile-avatar {
    max-width: 250px;
}

.text-sm {
    font-size: 0.65rem;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

@media only screen and (max-width: 575px) {
    .card-main {
        text-align: center;
    }

    .card-detail {
        margin-top: 20px;
    }

    .profile-avatar {
        max-width: 180px;
    }
}

.list-group-custom {
    padding: 0.5rem 1rem;
}

.logo-404 {
    color: #0005;
    text-shadow: 0 0 10px black;
}

.time-stamp {
    position: absolute;
    bottom: 0;
    right: 15px;
}
